
/* change mdp */
.background {
    background-image: url('/images/couloirCarton.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100vw;
    height: 100%;
}

.containerMdp h4 {
    color: #FFEDD3;
}

.containerMdp {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: auto;
    width: 30%;
    background-color: #5E7C46;
    border-radius: 30px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.containerMdp form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 75%;
    gap: 0.5rem;
    padding: 1rem;
    margin-left: 2rem;
    color: #FFEDD3;
}

.containerMdp input {
    width: 100%;
    max-width: 300px;
    padding: 6px;
}

.containerMdp button {
    margin-left: 100%;
    margin-bottom: 1rem;
}