@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sniglet:wght@400;800&display=swap');
* {
    font-family: 'Sniglet', Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* designe systéme */

.btnStyle1 {
    background-color: #5E7C46;
    color: #FFEDD3;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.btnStyle1:hover {
    background-color: #50911D;
    color: #FFEDD3;
}

.btnStyle2 {
    background-color: #FFEDD3;
    color: #5E7C46;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 16px;
    text-decoration: none;
}

.btnStyle2:hover {
    background-color: #FFFFFF;
    color: #5E7C46;
    outline: #5E7C46 1px solid;
}

input {
    background-color: #FFEDD3;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 16px;
}

input:focus{
    border: none;
    outline: #5E7C46 1px solid;
}  

h1 {
    font-weight: normal;
    font-size: 40px;
}

h2 {
    font-weight: normal;
    font-size: 36px;
}

h3 {
    font-weight: normal;
    font-size: 32px;
}

h4 {
    font-weight: normal;
    font-size: 28px;
}

h5 {
    font-weight: normal;
    font-size: 24px;
}

h6 {
    font-weight: normal;
    font-size: 20px;
}

p {
    font-weight: normal;
    font-size: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem auto;
}

.pagination button {
    background-color: white;
    color: #5E7C46;
    font-size: 1.5rem;
    border: 2px solid #5E7C46;
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination button.active,
.pagination button:hover {
    background-color: #5E7C46;
    color: #FFEDD3;
}

/* Card */

.cardProduit {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 200px;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    gap: 16px;
    border: #5E7C46 3px solid;
}

.imgProduit {
    width: 100%;
    height: 200px;
}

.cardProduit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardProduit .detailsProduit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
    color: #5E7C46;
    font-size: 16px;
    font-weight: normal;
}

.prixProduit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #5E7C46;
    font-size: 16px;
    font-weight: normal;
}

/* CardCommande */

.cardCommande {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 200px;
    border-radius: 8px;
    gap: 16px;
    border: #5E7C46 2px solid;
}

.imgCommande {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.badgeCommande {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: #5E7C46;
    padding: 6px 12px;
    padding-left: 4px;
    font-size: 12px;
    clip-path: polygon(0 0, 100% 0, 60%, 100%, 0% 100%);
    z-index: 2;
    border-bottom-right-radius: 15px;
}

.cardCommande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailsCommande {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
    color: #5E7C46;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
    margin-bottom: 10px;
}

.detailsCommande span {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.detailsCommande :first-child {
    font-size: 14px;
}



/* header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;;
    padding: 16px;
    width: auto;
    height: 5vh;
    gap: 16px;
    margin: 10px;
}

.logo img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 80px;
}

.logoEtReseauSociaux a {
    min-width: 60px;
}

.reseauSociaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.reseauSociaux img {
    width: 45px;
    height: 45px;
}

.reseauSociaux :hover {
    scale: 1.1;
}

.logoEtReseauSociaux {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 25%;
    gap: 20px;
}

.rechercheEtBouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    width: 40%;
}

.rechercheEtBouton input {
    width: 100%;
    min-width: 200px;
}

.panier {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    gap: 4px;
}

.panier a {
    color: #5E7C46;
    transition: color 0.3s ease;
}

.panier .panier-img {
    width: 30px;
    height: 30px;
    background-image: url('/images/Panier.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.panier:hover a {
    scale: 1.1;
    color: #50911D;
    cursor: pointer;
}

.panier:hover .panier-img {
    scale: 1.1;
    background-image: url('/images/PanierClair.png');
}

/* nav bar */

.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    height: 5vh;
    margin: 0;
}

.menu a {
    flex: 1;
    text-align: center;
    background-color: #5E7C46;
    text-decoration: none;
    color: #FFEDD3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.3s ease;
    font-size: 24px;
}

.menu a:hover {
    color: #5E7C46;
    background-color: #FFEDD3;
    cursor: pointer;
}

/* bandeau */

.bandeau {
    position: relative;
    width: 100vw;
    height: 60vh;
    background-image: url('/images/rouleauMulti.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 4rem;
}

.bandeau::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.bandeauText {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
    color: #FFFFFF;
    margin-left: 10%;
}

.bandeauText a {
    max-width: 75px;
}

.bandeauText p {
    font-size: 32px;
}

/* bandeauNosValeur */

.bandeauNosValeur {
    background-color: #5E7C46;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 97%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.bandeauImage {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bandeauImage img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.bandeauValeurText {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 2rem;
    color: #FFEDD3; 
}

/* bandeauDevis */

.bandeauDevis {
    background-color: #FFEDD3;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 500px;
    margin-bottom: 4rem;
}

.bandeauDevisImage {
    overflow: hidden;
    width: 45%;
    height: 95%;
    border-radius: 20px;
    margin: auto;
}

.bandeauDevisImage img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.bandeauDevisText {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 2rem;
    color: #5E7C46;
    padding-bottom: 1rem;
}

.bandeauDevisText a {
    position: absolute;
    bottom: 3rem;
    left: 0;
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 2rem;
    color: black;
    border-top: #b6b6b6 1px solid;
}

.logoFooter img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 160px;
}

.reseauSociaux {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
}

.reseauSociaux img {
    width: 45px;
    height: 45px;
}

.footerLinksTop {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footerLinksBottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.footerCredit {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerContact {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.footer a {
    color: inherit; 
}

.footer a:hover {
    color: #5E7C46;
    text-decoration: none;
}

/* Inscription */

.background {
    background-image: url('/images/couloirCarton.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100vw;
    height: 100%;
}

.containerInscription h4 {
    color: #FFEDD3;
}

.containerInscription {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: auto;
    width: 30%;
    background-color: #5E7C46;
    border-radius: 30px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.containerInscription form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 75%;
    gap: 0.5rem;
    padding: 1rem;
    margin-left: 2rem;
    color: #FFEDD3;
}

.containerInscription input {
    width: 100%;
    max-width: 300px;
    padding: 6px;
}

.containerInscription button {
    margin-left: 100%;
    margin-bottom: 1rem;
}

/* change mdp */

.containerMdp h4 {
    color: #FFEDD3;
}

.containerMdp {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: auto;
    width: 30%;
    background-color: #5E7C46;
    border-radius: 30px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.containerMdp form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 75%;
    gap: 0.5rem;
    padding: 1rem;
    margin-left: 2rem;
    color: #FFEDD3;
}

.containerMdp input {
    width: 100%;
    max-width: 300px;
    padding: 6px;
}

.containerMdp button {
    margin-left: 100%;
    margin-bottom: 1rem;
}

/* magasin */

.containerMagasin  {
    display: flex;
    width: 100%;
    height: 100%;
}

.containerMagasin h5 {
    color: #5E7C46;
    text-decoration: underline;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.containerFiltre h6 {
    color: #5E7C46;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-decoration: underline;
}

.containerFiltre {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 20%;
    min-width: 200px;
    height: 100%;
    margin: 1rem;
    padding-left: 1rem;
    border: #5E7C46 3px solid;
    border-radius: 15px;
}


.containerGrille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    height: 100%;
}

.containerFiltre form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap : 5px;
    margin-bottom: 1rem;
}

/* description produit */

.fondCouleur {
    background-color: #FFEDD3;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.containerDescriptionProduit {
    display: flex;
    width: 90%;
    height: 100%;
    gap: 1rem;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.imageDescription {
    max-width: 450px;
    max-height: 450px;
    border: #5E7C46 4px solid;
    border-radius: 10px;
    overflow: hidden;
}

.imageDescription img {
    width: 100%;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
}

.descriptionProduit {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #5E7C46;
}

.description {
    width: 80%;
    margin-left: 2rem;
}

.description p {
    font-size: 1rem;
}

.description h6 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.detailsDescription {
    width: 50%;
    columns: 2;
    column-gap: 2rem;
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.detailsDescription p {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    break-inside: avoid;
}

.bottomDescription {
    border-top: 2px solid #5E7C46;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 1rem 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.bottomDescription span{
   font-size: 20px;
}

.bottomDescription input{
    width: auto;
    height: 6px;
    text-align: center;
    border: #5E7C46 2px solid;
}

.quantity-control {
    display: inline-flex;
    align-items: center;
    border: 2px solid #5E7C46;
    border-radius: 80px;
    overflow: hidden;
    width: auto;
}

.quantity-control button {
    background-color: #5E7C46;
    color: #FFEDD3;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-control button:hover {
    background-color: #50911D
}

.quantity-control input {
    width: 100%;
    background-color: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    outline: none;
}

.quantity-control input::-webkit-inner-spin-button,
.quantity-control input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Retirer flèches Chrome/Safari */
    margin: 0;
}

/* Prolfile */

.containerProfile {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #5E7C46;
    padding: 1.5rem;
}

.historiqueDeCommande {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.informationClient {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.coordonees {
    display: flex;
    flex-direction: row;
    color: #5E7C46;
    gap: 1rem;
    align-items: center;
}

.coordonneesContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: #5E7C46 2px solid;
    border-radius: 20px;
    padding: 1rem;
}

.coordonees h5 {
    margin: 0.3rem;
    text-decoration: underline;
}

.coordonees p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.coordonees span {
    font-size: 1.2rem;
}

.coordoneesInfo {
    margin: 0.3rem;
}

.coordonees img {
    background-color: #FFEDD3;
    border-radius: 50%;
    padding: 15px;
    width: 45px;
    height: 45px;
    overflow: visible; 
}

.informationClient button {
    margin-top: 1.5rem;
    margin-left: auto;
    max-width: 100px;
}

/* Historique de commande */

.historiqueDeCommande h6 {
    margin: 0;
    margin-bottom: 1.5rem;
}

.historiqueDeCommandeList {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 1rem;
}


