@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sniglet:wght@400;800&display=swap');
* {
    font-family: 'Sniglet', Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.btnStyle1 {
    background-color: #5E7C46;
    color: #FFEDD3;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 16px;
    text-decoration: none;
    max-width: 75px;
}

.btnStyle1:hover {
    background-color: #50911D;
    color: #FFEDD3;
}


.btnStyle2 {
    background-color: #FFEDD3;
    color: #5E7C46;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 16px;
    text-decoration: none;
}

.btnStyle2:hover {
    background-color: #FFFFFF;
    color: #5E7C46;
    outline: #5E7C46 1px solid;
}

input {
    background-color: #FFEDD3;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 16px;
}

input:focus{
    border: none;
    outline: #5E7C46 1px solid;
}  

h1 {
    font-weight: normal;
    font-size: 40px;
}

h2 {
    font-weight: normal;
    font-size: 36px;
}

h3 {
    font-weight: normal;
    font-size: 32px;
}

h4 {
    font-weight: normal;
    font-size: 28px;
}

p {
    font-weight: normal;
    font-size: 24px;
}

/* Card */

.cardProduit {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 200px;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    gap: 16px;
    border: #5E7C46 3px solid;
}

.imgProduit {
    width: 100%;
    height: 200px;
}

.cardProduit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardProduit .detailsProduit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
    color: #5E7C46;
    font-size: 16px;
}

.prixProduit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #5E7C46;
    font-size: 16px;
    font-weight: 1000;
}


/* header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;;
    padding: 16px;
    width: auto;
    height: 5vh;
    gap: 16px;
    margin: 10px;
}

.logo img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 80px;
}

.logoEtReseauSociaux a {
    min-width: 60px;
}

.reseauSociaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.reseauSociaux img {
    width: 45px;
    height: 45px;
}

.logoEtReseauSociaux {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 25%;
    gap: 20px;
}

.rechercheEtBouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    width: 40%;
}

.rechercheEtBouton input {
    width: 100%;
    min-width: 200px;
}

.panier {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    gap: 4px;
}

.panier a {
    color: #5E7C46;
    transition: color 0.3s ease;
}

.panier .panier-img {
    width: 30px;
    height: 30px;
    background-image: url('/images/Panier.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.panier:hover a {
    scale: 1.1;
    color: #50911D;
    cursor: pointer;
}

.panier:hover .panier-img {
    scale: 1.1;
    background-image: url('/images/PanierClair.png');
}

/* nav bar */

.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    height: 5vh;
    margin: 0;
}

.menu a {
    flex: 1;
    text-align: center;
    background-color: #5E7C46;
    text-decoration: none;
    color: #FFEDD3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.3s ease;
    font-size: 24px;
}

.menu a:hover {
    color: #5E7C46;
    background-color: #FFEDD3;
    cursor: pointer;
}

/* bandeau */

.bandeau {
    position: relative;
    width: 100vw;
    height: 60vh;
    background-image: url('/images/rouleauMulti.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 4rem;
}

.bandeau::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.bandeauText {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
    color: #FFFFFF;
    margin-left: 10%;
}

.bandeauText p {
    font-size: 32px;
}

/* bandeauNosValeur */

.bandeauNosValeur {
    background-color: #5E7C46;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 97%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.bandeauImage {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bandeauImage img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.bandeauValeurText {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 2rem;
    color: #FFEDD3; 
}

/* bandeauDevis */

.bandeauDevis {
    background-color: #FFEDD3;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 500px;
    margin-bottom: 4rem;
}

.bandeauDevisImage {
    overflow: hidden;
    width: 45%;
    height: 95%;
    border-radius: 20px;
    margin: auto;
}

.bandeauDevisImage img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.bandeauDevisText {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 2rem;
    color: #5E7C46;
    padding-bottom: 1rem;
}

.bandeauDevisText a {
    position: absolute;
    bottom: 3rem;
    left: 0;
}

/* footer */


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 2rem;
    color: black;
    border-top: #b6b6b6 1px solid;
}

.logoFooter img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 160px;
}

.reseauSociaux {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
}

.reseauSociaux img {
    width: 45px;
    height: 45px;
}

.footerLinksTop {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footerLinksBottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.footerCredit {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerContact {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.footer a {
    color: inherit; 
}

.footer a:hover {
    color: #5E7C46;
    text-decoration: none;
}



