<template id="HeaderContent">
    <Header>
        <div Class="logoEtReseauSociaux">
            <div class="logo">
                <img src="/images/ARB.png" alt="logo">
            </div>
            <a href="mentionLegale.html">About us</a>
            <div class="reseauSociaux">
                <img src="/images/FacebookLogo.png" alt="">
                <img src="/images/InstagramLogo.png" alt="">
            </div>
        </div>
        <div Class="rechercheEtBouton">
            <input type="text" placeholder="Rechercher">
            <a class="btnStyle1" href="inscription.html">Inscription</a>
            <button class="btnStyle2">Connection</button>
            <div class="panier">
                <a href="panier.html">Panier</a>
                <div class="panier-img"></div>
            </div>            
        </div>
    </Header>
</template>