<template>
    <div class="cardListCommande">
        <div class="titreHistorique">
            <h6 class="dateCommande">Achat du 01/05/2025</h6>
        </div>   
        <div class="historiqueDeCommandeList">
            <div class="cardCommande">
                <div class="imgCommande">
                    <span class="badgeCommande">Quantité : 1</span>
                    <img src="/images/tissuSatin.jpg" alt="">
                </div>
                <div class="detailsCommande">
                    <span class="typeProduit">Type : Tissu</span>
                    <span>Date de commande :</span>
                    <span class="dateDeCommande">Achat du 01/05/2025</span>
                </div>
            </div>
        </div>
    </div>
</template>