<template id="modal">
    <div class="modal-overlay">
        <div class="modal">
          <h2>Connection</h2>
          <form id="login-form">
            <label for="email">Adresse mail <span>*</span></label>
            <input type="email" id="email" name="email" required />
      
            <label for="password">Mot de passe <span>*</span></label>
            <input type="password" id="password" name="password" required />
      
            <div class="modal-buttons">
              <button type="button" class="btnStyle3">Mots de passe oublié</button>
              <button type="submit" class="btnStyle2">Valider</button>
            </div>
          </form>
        </div>
      </div>
</template>