
<template id="cardProduct">
    <div class="cardProduit">
        <div class="imgProduit">
            <img src="/images/tissuSatin.jpg" alt="">
        </div>
        <div class="detailsProduit">
            <span id="typeProduit">Type : Tissu</span>
            <span id="couleurProduit">Couleur : Bleu</span>
            <span id="matiereProduit">Matière : Soie</span>
            <span id="quantiteProduit">Quantité disponible : 56</span>
        </div>
        <div class="prixProduit">
            <span>7€ / Metre</span>
            <button id="buttonAddProduct" class="btnStyle1">Ajouter</button>
        </div>
    </div>
</template>